.build-form {
  border: 2px solid var(--blue);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  margin-bottom: 0.5rem;

  &.army-option {
    background-color: var(--ultralight-purple);
  }

  .option-header {
    /* padding-right: 0.5rem; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .option-title {
      font: var(--paragraph-bold);
      color: var(--blue);
    }

    .option-toggle {
      width: 1.5rem;
    }
  }
}

form {
  margin-top: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;

  label {
    font: var(--input-text);
    color: var(--primary);
    margin-bottom: 0.25rem;
  }

  & input,
  .text-area {
    width: 100%;
    border: none;
    border-radius: 0.75rem;
    background-color: var(--ultralight-purple);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    font: var(--input-text);
    color: var(--primary);
    box-shadow: inset 2px 2px 3px 0px rgba(0, 0, 0, 0.3);

    &:focus {
      outline: none;
      border-bottom: 2px $black solid;
      font-size: $ml;
    }
  }

  .text-area {
    /* resize: vertical; */
    border-radius: 0.75rem 0.75rem 0 0.75rem;

    /* ADD GREATER HEIGHT FOR MOBILE (because no resize is available on mobile */
    /* REMOVE SHARP LOWR RIGHT CORNER AS WELL (as no space needed for resizer) */

    &::-webkit-resizer {
      background-image: url("@/assets/svgs/resizer.svg");
    }
  }
}

.input-error-message {
  font: var(--input-text);
  color: var(--danger);
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
}
