.page {
  position: relative;
  padding: 0 0.5rem 0 0.5rem;
  height: 100%;
  display: grid;
  grid-template-rows: auto auto 1fr;

  &:has(.center-menu) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    color: var(--white);
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .actions {
    background-color: var(--white-purple);
    border-radius: 1rem 1rem 0rem 0rem;
    padding: 1rem 1.25rem 1rem 1.25rem;
    display: flex;
    justify-content: end;
    gap: 2rem;

    .icon {
      width: 8vw;
    }
  }

  .content {
    background-color: var(--white-purple);
    height: 100%;
    padding: 0.5rem;
    overflow-x: scroll;
  }
}
