html {
    background: lightblue;
}

p {
    user-select: none;
}

h2 {
    background-color: crimson;
}

.card {
    border: 2px solid greenyellow;
    
    & h2 {
        background-color: lightcoral;
    }

    & p {
        color: blue;
    }
}