@import "./variables.css";
@import "./fonts.css";

/* GLOBAL STYLESHEET: Global styles for the whole app */

html {
  box-sizing: border-box;
  /* Sets the font to the default browser font size */
  font-size: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "EB Garamond", sans-serif;
  /* background: linear-gradient(0deg, $dark-blue 15%, $violet 100%); */
}

a,
a:active,
a:visited,
.link {
  text-decoration: none;
}

/* Typography */
h1 {
  font-family: "Footlight_bold", sans-serif;
}

p {
  font-family: "EB Garamond", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
}

.sm-text {
  font-family: "EB Garamond", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/* Global styles */

.page {
  width: 100vw;
  height: 100vh;
  height: 100svh;
  padding: 0.5rem;
}
