/* VARIABLES: All custom properties used in both global and local styles */

/* COLORS */
:root {
  /* Theme colors */
  --purple: #7e3f98;
  --dark-purple: #39144a;
  --light-purple: #927da4;
  --ultralight-purple: #ccc3d7;
  --white-purple: #e9e6ee;
  --blue: #215e9e;
  --light-blue: #45aeef;
  --red: #d2382d;
  --white: #ffffff;
  --black: #000000;

  /* Alert colors */
  --success: #4caf50;
  --danger: #f44336;
  --info: #2196f3;
  --warning: #ff9800;
}
